html{
	font-size:3vh !important;
}

html,body{
	height:100%;
}

body{
	background-image: url(../src/timg.png);
    background-size: cover;
	background-repeat:no-repeat;
}

.demos-content-padded{
	display:flex;
	justify-content:space-around;
	box-sizing:border-box;
    width: 100%;
    height:100%;
    margin:auto;
	overflow:hidden;
}
.result_box{
    text-align: center;
    font-size: 2rem;
    line-height:2.5rem;
	letter-spacing:1rem;
    color: #3cc51f;
    font-weight: 400;
    display: block;
}
.result_box  li{
    height:2.5rem;
}
#result{
    height:22.5rem;
    width: 20rem;
    margin-top:5.5rem;
    position: relative;
    overflow: hidden;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    box-shadow:0 15px 15px -15px #000,
    0 -15px 15px -15px #000;
}
ul {
    padding:0;
}
#chosen_box {
    border: red;
    width:15rem;
    height: 3rem;;
    position: absolute;
    top:15.5rem;
    left:50%;
    margin-left: -7.5rem;
    border-radius:10px;
    box-shadow:inset 0 0 10px 1px red;
}

#okbutton{
    display: block;
    height:10rem;
    width:10rem;
    line-height:10rem;
    border-radius: 50%;
	margin-top:10rem;
    border: 10px solid lightgray;
	margin-left:-10rem;
}

body{
    background-color: #ea586b;
}